body, div { font-family: Calibri, sans-serif !important; font-size: 12pt; }

.ui-effects-transfer { border: 2px dotted gray; }
.halve { width:48%; }

.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { }
.selectable .ui-highlited { background: #FECA40; }

.selectable { list-style-type: none; margin: 0; padding: 0; }
.selectable li { margin: 0.5% 0.75%; float: left; width: 48%; height: 80px; }

.buttons { height: 41px; }
.title h4 { margin: 8px; }

.employee span.name { float: left; margin: 10px 0 0 10px; }
.employee .fff-icon { float: right; margin: 5px 5px 0 0; }

.left { float: left; }
.right { float: right; }
.clear { clear: both; }

.smallprint { font-size: 9pt; }

.ui-icon.tri-icon-eating-in {
    background-image:url('images/restaurant.png')!important;
    background-size: 24px;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    margin-left: -12px;
}

.ui-icon.tri-icon-eating-out {
    background-image:url('images/restaurant_disabled.png')!important;
    background-size: 24px;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    margin-left: -12px;
}

.ui-accordion .ui-accordion-content {
	padding: 0.5% 2%;
}

.report_filter_item { width: 250px; clear: both; }
.report_filter_item span { margin-top: 1px; }
.report_filter_item select { float: right; }

.report_container .report_header {
    position: relative;
    left: 20%;
    width: 60%;
    height: 70px;
    min-width: 550px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 2px;
}

.report_container .report_item {
    position: relative;
    left: 20%;
    width: 60%;
    min-width: 550px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 2px;
}
